<!DOCTYPE html>
<html lang="en" >
<head>
</head>
<body>
<!-- partial:index.partial.html --
    
    <section id="about">
        <div class="container">
            <h2>Qui suis-je ?</h2>
            <hr>

            <p class="lead">Étudiant en Développement Informatique</p>
            <p>Je suis <strong>EsatCan</strong>, étudiant spécialisé dans le domaine <strong>informatique</strong>, avec un intérêt particulier pour le <strong>développement de programmes</strong>.</p>
            <p>À la <strong>recherche</strong> d'un stage enrichissant, je souhaite appliquer mes connaissances approfondies en <strong>Python, en gestion de bases de données, et en conception de sites web</strong>, tout en cherchant à atteindre mon <strong>plein potentiel</strong> en maîtrisant l'ensemble des langages de programmation utiles.</p>
            <a href="CV_Esat_Bozu.pdf" download="CV_Esat_Bozu.pdf">
                <button class="pulse">Télécharger mon CV</button>
            </a>
        </div>
    </section>
</body>
    
    
    <section id="footer">
        <p>Je poste la plupart de mes projets sur <a href="https://github.com/Ozomozyan" target="_blank"><i class="fa fa-github" aria-hidden="true"></a></i> <i class="fa fa-copyright" aria-hidden="true"></i>2023</p>
    </section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js'>
</script><script  src="https://bozusite.000webhostapp.com/Portfolio_d'EsatCan/script.js"></script>

</body>
</html>
