google.charts.load('current', {'packages':['bar']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  fetch('/tawarano/')
    .then(response => response.json())
    .then(data => {
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn('string', 'Date');
      dataTable.addColumn('number', 'Valeur');

      var aggregatedData = {};
      data.results.forEach(entry => {
        var date = new Date(entry.Jour * 1000);
        var monthYearKey = date.getMonth() + '-' + date.getFullYear();
        if (!aggregatedData[monthYearKey]) {
          aggregatedData[monthYearKey] = {count: 0, total: 0};
        }
        aggregatedData[monthYearKey].count++;
        aggregatedData[monthYearKey].total += entry.temp;
      });

      for (var key in aggregatedData) {
        var averageTemp = aggregatedData[key].total / aggregatedData[key].count;
        dataTable.addRow([key, averageTemp]);
      }

      var options = {
        chart: {
          title: 'Évolution des températures de la ville de Tawarano',
          subtitle: 'Data de 2014 a 2017',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
      chart.draw(dataTable, google.charts.Bar.convertOptions(options));
    });
}
